.red {
  color: darkred;
}

.green {
  color: darkgreen;
}

.blue {
  color: darkblue;
}

.comment {
  &:nth-child(odd) {
    background: fade(lighten($body-bg, 2%), 50%);
  }
}

footer {
  color: darken($body-color, 15%);
}

acronym, abbr {
  border-bottom: 1px dashed $gray;
  color: darken($body-color, 15%);
}

blockquote {
  border-left: 1px dashed $gray;
}

a.disabled {
  color: lighten($brand-primary, 30%);
}

a {
  cursor: pointer;
}
.content a {
  background: darken($body-bg, 5%);
}

body {
  background-color: $body-bg;
  background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.25) 50%);
  background-size: 13px, 29px, 37px, 53px;
}
.main_content {
  background-color: fade($body-bg, 50%);
}
