body {
  margin-top: $line-height-base;
}

input[type=checkbox] {
  cursor: pointer;

  &:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
  }
  width: $line-height-base;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
}

input[type=button],
input[type=submit] {
  @extend .btn;
}

input[type=submit] {
  @media (min-width: breakpoint-min(sm)) {
    @include make-col(4);
    @include make-col-offset(4);
  }
}

blockquote {
  padding-left: (0.5 * $font-size-base);
  margin-left: 1.2 * $font-size-base;
  font-size: $font-size-base;
  clear: left;
}

input[type='text'],
input[type='password'],
textarea {
  margin-bottom: $font-size-base;
  border: 0px;
  height: auto;
}

#textarea-content {
  font-family: $font-family-monospace;
}

#new_comment {
  margin-top: $font-size-base;
  label {
    @media (min-width: breakpoint-min(sm)) {
      @include make-col(2);
    }
    @media (min-width: breakpoint-min(lg)) {
      @include make-col(3);
    }
  }
  input[type='text'],
  input[type='password'],
  textarea {
    @media (min-width: breakpoint-min(sm)) {
      @include make-col(9);
    }
    @media (min-width: breakpoint-min(lg)) {
      @include make-col(10);
    }
  }
}

.vertical {
  li {
    list-style-type: none;
    padding-right: $font-size-base;
    margin-bottom: ($font-size-base * 0.5);
  }
}

.horizontal {
  @extend .vertical;
  li {
    display: inline;
  }
}

span.hidden-xs {
  display: inline-block !important;
}

.leftblock {
  float: left;
}
.rightblock {
  float: right;
}
.leftblock,
.rightblock {
  width: 400px;
  .card-img-top {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
.centerblock {
  display: block;
  margin: 0 auto;
  text-align: center;
}
img {
  $margin: (0.5 * $font-size-base);
  margin-bottom: $font-size-base;
  margin-top: $font-size-base;
  &.gallery {
    margin-right: $font-size-base;
  }
}

.hidden {
  display: none;
}

#comments {
  margin-top: $line-height-base;
  clear: both;
}
.comment {
  .author {
    font-weight: 700;
    @media (min-width: breakpoint-min(lg)) {
      @include make-col(4);
    }
  }
  .content {
    @media (min-width: breakpoint-min(lg)) {
      @include make-col(8);
    }
  }
}

.f_right {
  float: right !important;
}

.f_left {
  float: left;
}

.yashare-auto-init { // Yandex sharing buttons
  margin-bottom: $font-size-base;
}

code {
  white-space: normal;
}

footer{
  @include make-row();
  .footer_text {
    margin-top: ($font-size-base * 2);
    @extend .small;
    @extend .text_center;
    @include make-col(12);
  }
}

.sidequote_left, 
.sidequote_right {
  @media (min-width: breakpoint-min(sm)) {
    @include make-col(4);
  }
  font-size: $font-size-base * 1.5;
  margin-top: $font-size-base / 2;
  margin-bottom: $font-size-base / 2;
}

.sidequote_left {
  padding-left: 0;
  padding-right: $grid-gutter-width-base * 2;
}

.sidequote_right {
  @extend .f_right;
}

@mixin sideblock() {
  @media (min-width: breakpoint-min(lg)) {
    @include make-col(4);
  }
  @media (min-width: breakpoint-min(md)) {
    @include make-col(4);
  }
  hyphens: auto;
  -moz-hyphens: auto;
  background-color: lighten($body-bg, 5%);
  padding: 0 $grid-gutter-width-base;
}

.sideblock_left {
  @include sideblock();
  margin-right: $grid-gutter-width-base;
}

.sideblock_right {
  @include sideblock();
  @extend .f_right;
  margin-left: $grid-gutter-width-base;
}

.tag_content,
.tag_posts {
  @media (min-width: breakpoint-min(sm)) {
    @include make-col(6);
  }
}

.post,
.comment_section,
#donate {
  clear: both;
  @extend .clearfix;
}

#donate {
  @include make-row();
  margin-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  #donate_forms {
    @media (min-width: breakpoint-min(sm)) {
      @include make-col(4);
      @include make-col-offset(4);
    }
  }
  form {
    display: inline-block;
    margin-right: 1em;
    text-align: center;
  }
}

.sidebar {
  @media (min-width: breakpoint-min(sm)) {
    @include make-col(12);
  }
  @media (min-width: breakpoint-min(lg)) {
    @include make-col(3);
  }
}

.main_content {
  @media (min-width: breakpoint-min(sm)) {
    @include make-col(12);
  }
  @media (min-width: breakpoint-min(lg)) {
    @include make-col(9);
  }
  p {
    text-align: justify;
  }
}

.text_center, .text-center {
  text-align: center !important;
  p {
    text-align: center !important;
  }
}

.paging { // pagination
  @extend .text_center;
}

/* WP legacy */
.alignleft {
  float: left;
  margin-right: 2 * $font-size-base;
}

.alignright {
  float: right;
  margin-left: 2 * $font-size-base;
}

.long-song-lyrics{
  @media (min-width: breakpoint-min(sm)) {
    @include make-col(6);
  }
  @media (min-width: breakpoint-min(lg)) {
    @include make-col(4);
  }
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.epigraph {
 margin-left: auto;
 text-align: left;
 width: 40%;
 .author {
   text-align: right;
   font-style: italic;
 }
}

.repl {
  margin-left: 25%;
  font-family: $font-family-caption;
}

.stagedir {
  font-style: italic;
  font-family: $font-family-caption;
}

div.stagedir,
p.stagedir {
  margin-top: $btn-padding-y-lg;
  margin-bottom: $btn-padding-y-lg;
}

@media print {
  footer,
  .paging,
  .sidebar,
  #donate,
  #new_comment,
  .yashare-auto-init,
  .breadcrumb {
    display: none;
  }
}

@media (min-width: breakpoint-min(md)) {
  .navbar {
    display: none;
  }
}

.ya-page_js_yes .ya-site-form_inited_no {
  display: none;
}

.speed {
  float: right;
}

.form-group {
  clear: both;
}
