$link-color:         #7B6265;
$body-bg:           #FFF4DF;
$body-color:         #5E6E85;
$jumbotron-bg: $link-color;
$brand-primary:      #84929F;
// $brand-success:             #5cb85c !default;
// $brand-info:                #5bc0de !default;
// $brand-warning:             #f0ad4e !default;
// $brand-danger:              #d9534f !default;
// $brand-inverse:             $gray-dark !default;

$navbar-light-color:       #A69CA3;
$nav-link-color:     $body-bg;

$font-family-sans-serif: "PT Sans", "Open Sans", Arial, sans-serif;
$font-family-serif:      "PT Serif", Georgia, "Times New Roman", Times, serif;
$font-family-caption:    "PT Serif Caption", $font-family-serif;
$font-family-monospace:  "PT Mono", "Courier New", monospace;
$headings-font-family:   "PT Sans Caption", $font-family-sans-serif;
$font-family-base:       $font-family-serif;

$font-size-base: 1rem;
$line-height-base: 1.5;

/*
$btn-default-bg: darken($body-bg, 5%);

$navbar-default-link-hover-color:          lighten($navbar-default-color, 20%);
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         $navbar-default-link-color;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color:       desaturate($navbar-default-color, 50%);
$navbar-default-link-disabled-bg:          transparent;

$navbar-default-brand-color:               $navbar-default-link-color;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%);
$navbar-default-brand-hover-bg:            transparent;
*/

$breadcrumb-bg:               fade(darken($body-bg, 5%), 50%);
$breadcrumb-color:            $body-color;
$card-bg: transparent;
$card-border-width: 0;
