<%= partial "/layouts/partials/header" %>
<%= partial "/layouts/partials/navbar" %>
<div class="container">
  <div class = "main_content">
    <main>
    <h1><%= current_page.data.title %></h1>
    <% if page_articles %>
      <% page_articles.each do |current_article| %>
        <div class="post" typeof="blogPost">
          <%# <div class="speed"><span class="fa fa-clock-o"></span> ≈17 мин</div> %>
          <h3 property="headline"><%= link_to(current_article.title, current_article.url) %></h3>
          <div class="meta">
            <div class="date" property="datePublished"><time><%= current_article.date.strftime("%b %d, %Y") %></time></div>
          </div>
          <div class="hyphenate content" property="description">
            <%= current_article.summary %>
          </div>
          <p>
          <a href="<%= current_article.url %>"> Читать дальше </a> &lt;~&gt;
          <a class="link_comments" href="<%= current_article.url %>#comments">
            Комментарии
          </a></p>
          <meta property="discussionUrl" content="<%= current_article.url %>#comments" />
          <meta property="url" content="<%= current_article.url %>" />
        </div>
      <% end %>
    <% end %>
    </main>
  </div>
  <div class="sidebar">
    <%= partial "/layouts/partials/sidebar" %>
  </div>
</div>
<%= partial "/layouts/partials/footer" %>
