<%= partial "/layouts/partials/header" %>
<%= partial "/layouts/partials/navbar" %>
<div class="container">
  <div class = "main_content">
    <main>
    <h1><%= current_page.data.title %></h1>
    <%= yield %>
    </main>
  </div>
  <div class="sidebar">
    <%= partial "/layouts/partials/sidebar" %>
  </div>
</div>
<%= partial "/layouts/partials/footer" %>
