<%= partial "/layouts/partials/header" %>
<%= partial "/layouts/partials/navbar" %>
<div class="container">
  <div class = "main_content">
    <%= partial "/layouts/partials/breadcrumbs" %>
    <main>
    <div class="f_right">
      <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter,telegram"></div>
    </div>
    <h1 property="headline"><%= current_page.data.title %></h1>
    <div class="hyphenate content" property="description">
      <%= yield %>
    </div>
    <meta property="url" content="<%= current_page.url %>" />
    </main>
  </div>
  <div class="sidebar">
    <%= partial "/layouts/partials/sidebar" %>
  </div>
</div>
<%= partial "/layouts/partials/footer" %>
