<%= partial "/layouts/partials/header" %>
<%= partial "/layouts/partials/navbar" %>
<div class="container">
  <div class = "main_content">
    <%= partial "/layouts/partials/breadcrumbs" %>
    <main>
    <div class="f_right">
      <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter,telegram"></div>
    </div>
    <h1 property="headline"><%= current_page.data.title %></h1>
    <div class="meta">
      <div class="date" property="datePublished"><time><%= current_article.date.strftime("%b %d, %Y") %></time></div>
    </div>
    <div class="hyphenate content" property="description">
      <%= yield %>
    </div>
    <meta property="url" content="<%= current_page.url %>" />
    <div class="taglist">Метки:
      <% if current_page.data.tags then %>
        <% current_page.data.tags.split(",").each do |tag| %>
          <span class="tag"><%= link_to tag, "/tag/#{tag}" %></span>
        <% end %>
      <% end %>
    </div>
    </main>
    <div class="comments">
      <a name="comments"></a>
      Место для комментариев
    </div>
  </div>
  <div class="sidebar">
    <%= partial "/layouts/partials/sidebar" %>
  </div>
</div>
<%= partial "/layouts/partials/footer" %>
