      <footer>
        <div class="footer_text">Сайт сделан на Middleman. <a href="https://git.oreolek.ru/oreolek/oreolek6">Исходный код</a> движка.</div>
        </div>
      </footer>
    </div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/hyphenator/4.3.0/hyphenator.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
<script type="text/javascript" src="/common.js"></script>
<%# Включать только если layout == post или page %>
<% if current_page.options[:layout] == "post" or current_page.options[:layout] == "post" then %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.1/js/lightbox.min.js"></script>
  <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
  <script src="//yastatic.net/share2/share.js"></script>
<% end %>
<%# Yandex.Metrika counter %>
<script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter11115457 = new Ya.Metrika({id:11115457, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/11115457" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  </body>
</html>
