<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Дневник</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href='/favicon.ico' rel='shortcut icon' type='image/x-icon'/>
    <%# <link rel="prefetch" href="/application/assets/javascript/load_comment_form.js"> %>
    <link rel="prefetch" href="https://yandex.st/share/share.js">
    <link href="/Post/feed" rel="alternate" type="application/rss+xml" title="Свежие записи дневника">
    <link href="/Comment/feed" rel="alternate" type="application/rss+xml" title="Свежие комментарии">
    <!--[if lt IE 9]>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/css3-mediaqueries/0.1/css3-mediaqueries.min.js"></script>
      <![endif]-->
    <%= stylesheet_link_tag 'main' %>
    <link type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.1/css/lightbox.css" rel="stylesheet" />
    <link type="text/css" href="https://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin,cyrillic" rel="stylesheet" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  </head>
  <body vocab="http://schema.org">
