      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Переключить навигацию</span>
              <span class="fa fa-volume-off">&nbsp;</span>
            </button>
            <a class="navbar-brand" href="/">Добро пожаловать, Oreolek</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Дневник <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="/post/fresh">Свежие записи</a></li>
                      <li><a href="/post/index">Все записи</a></li>
                      <li><a href="/tag/index">Метки</a></li>
                      <li><a href="/post/drafts">Черновики дневника</a></li>
                  </ul>
                </li>
              <li><a href="/page/index">Страницы</a></li>
              <li><a href="/page/view/1">О блоге</a></li>
              <li><a href="/comment/index">Комментарии</a></li>
              <li><a href="/page/drafts">Черновики страниц</a></li>
              <li><a href="/note/index">Заметки</a></li>
            </ul>
            <div class="ya-site-form ya-site-form_inited_no" onclick="return {'action':'/Post/search','arrow':false,'bg':'transparent','fontsize':12,'fg':'#000000','language':'ru','logo':'rb','publicname':'Поиск по oreolek.ru','suggest':true,'target':'_self','tld':'ru','type':3,'usebigdictionary':true,'searchid':2201150,'webopt':false,'websearch':false,'input_fg':'#000000','input_bg':'#ffffff','input_fontStyle':'normal','input_fontWeight':'normal','input_placeholder':null,'input_placeholderColor':'#000000','input_borderColor':'#7f9db9'}"><form action="https://yandex.ru/sitesearch" method="get" target="_self"><input type="hidden" name="searchid" value="2201150"/><input type="hidden" name="l10n" value="ru"/><input type="hidden" name="reqenc" value="utf-8"/><input type="search" name="text" value=""/><input type="submit" value="Найти"/></form></div><script type="text/javascript">(function(w,d,c){var s=d.createElement('script'),h=d.getElementsByTagName('script')[0],e=d.documentElement;if((' '+e.className+' ').indexOf(' ya-page_js_yes ')===-1){e.className+=' ya-page_js_yes';}s.type='text/javascript';s.async=true;s.charset='utf-8';s.src=(d.location.protocol==='https:'?'https:':'http:')+'//site.yandex.net/v2.0/js/all.js';h.parentNode.insertBefore(s,h);(w[c]||(w[c]=[])).push(function(){Ya.Site.Form.init()})})(window,document,'yandex_site_callbacks');</script>
          </div>
        </div>
      </nav>
