<div class="row">
  <nav class="paging" aria-label="Навигация по страницам">
    <ul class="pagination">
      <% if prev_page %>
        <li class="page-item"><a class="page-link" href="<%= url_for prev_page %>">Предыдущая страница</a></li>
      <% end %>
      <% for i in (page_number - 5 .. page_number + 5) %>
        <% if i <= 0 %>
          <% next %>
        <% end %>
        <% if i >= num_pages %>
          <% break %>
        <% end %>
        <li class="page-item <% if i == page_number %>active<% end %>">
          <a class="page-link" href="<%= current_page.url %>page/<%= i %>"><%= i %>
          <% if i == page_number %>
            <span class="sr-only">(текущая)</span>
          <% end %>
        </a>
      <% end %>
      <% if next_page %>
        <li class="page-item">
          <a class="page-link" href="<%= url_for next_page %>">Следующая страница</a>
        </li>
      <% end %>
      <% if (page_number + 5) < num_pages %>
        <li class="page-item">
          <a class="page-link" href="/posts/page/<%= page_number + 6 %>">…</a>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
