<div class="col-md-12">
      <div class="row">
            <img alt="Фотограф Евгения Цвеклинская, 2014" align="right" src="/application/assets/images/author_small.png">
            <h5>Александр Яковлев</h5>
            <p>Чаеголик, сайтобурист, картофан.</p>
      </div>
      <ul>
            <li>
                  <a href="#">Дневник</a>
                  <ul>
                        <li><a href="/feed.xml"><span class="fa fa-rss">&nbsp;</span> RSS дневника</a></li>
                        <li><a href="/">Свежие записи</a></li>
                        <li><a href="/tags">Метки</a></li>
                  </ul>
            </li>
            <li><a href="/page/index">Страницы</a></li>
            <li><a href="/page/view/1">О блоге</a></li>
      </ul>
      <div class="ya-site-form ya-site-form_inited_no" onclick="return {'action':'/Post/search','arrow':false,'bg':'transparent','fontsize':12,'fg':'#000000','language':'ru','logo':'rb','publicname':'Поиск по oreolek.ru','suggest':true,'target':'_self','tld':'ru','type':3,'usebigdictionary':true,'searchid':2201150,'webopt':false,'websearch':false,'input_fg':'#000000','input_bg':'#ffffff','input_fontStyle':'normal','input_fontWeight':'normal','input_placeholder':null,'input_placeholderColor':'#000000','input_borderColor':'#7f9db9'}"><form action="https://yandex.ru/sitesearch" method="get" target="_self"><input type="hidden" name="searchid" value="2201150"/><input type="hidden" name="l10n" value="ru"/><input type="hidden" name="reqenc" value="utf-8"/><input type="search" name="text" value=""/><input type="submit" value="Найти"/></form></div><script type="text/javascript">(function(w,d,c){var s=d.createElement('script'),h=d.getElementsByTagName('script')[0],e=d.documentElement;if((' '+e.className+' ').indexOf(' ya-page_js_yes ')===-1){e.className+=' ya-page_js_yes';}s.type='text/javascript';s.async=true;s.charset='utf-8';s.src=(d.location.protocol==='https:'?'https:':'http:')+'//site.yandex.net/v2.0/js/all.js';h.parentNode.insertBefore(s,h);(w[c]||(w[c]=[])).push(function(){Ya.Site.Form.init()})})(window,document,'yandex_site_callbacks');</script>

</div>
